* {
  box-sizing: border-box;
}
	
body {
   font-family: Arial;
   margin: 0;
   background-color: #9FF781;
   text-align:center;
}
.content_cond{
  padding:10% 20% 10% 20%;
}
.p_cond{
 padding:5%;
  background-color: #fff;
  text-align:justify;
}
